table {
  width: 640px;
  height: 420px;
  border-collapse: collapse;
}

td {
  border: 2px solid black;
}


tr:nth-child(1) td:nth-child(1) {
  background-color: blue;
}

tr:nth-child(1) td:nth-child(2) {
  background-color: red;
}


tr:nth-child(2) td:nth-child(1) {
  background-color: yellow;
}

tr:nth-child(2) td:nth-child(2) {
  background-color: black;
}


tr:nth-child(3) td:nth-child(1) {
  background-color: lime;
}